.navbar-custom {
            background-color: #5CDB95;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: #05386B;
            
        } 

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(05,56,107,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}        
        
.custom-toggler.navbar-toggler {
            border-color: #05386B;    
            
.text-my-own-color:hover, .text-my-own-color:active {
  color: #05386B !important;
}   

.jumbotron {
    background-color: #5CDB95;
}



